
p {background-color: rgb(227, 119, 119) ;
    color: white;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";

}

div:nth-child(2){color:blue;
    font-size: 36px;
}

div:nth-child(3){
    font-size: 24px;
}
div:nth-child(4){
    background-color: greenyellow;
    font-size: 24px;
    font:bold;

}